In [2]:
import pandas as pd

In [13]:

url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2014-grand_final-full_results.csv'
ESC2014 = pd.read_csv(url, skiprows=1)
ESC2014 = ESC2014.replace(r'\n',0, regex=True)
ESC2014 = ESC2014[['From country', 'To country', 'Points']]
ESC2014['Points'] = ESC2014['Points'].astype(int)
ESC2014

       From country   To country  Points
0           Albania      Ukraine       0
1           Albania      Belarus       0
2           Albania   Azerbaijan       0
3           Albania      Iceland       0
4           Albania       Norway       0
..              ...          ...     ...
931  United Kingdom      Hungary       0
932  United Kingdom        Malta      10
933  United Kingdom      Denmark       3
934  United Kingdom  Netherlands       8
935  United Kingdom   San Marino       0

[936 rows x 3 columns]

In [14]:
df2=ESC2014.groupby(['To country'])['Points'].mean().reset_index()
df2

        To country    Points
0          Armenia  4.833333
1          Austria  8.055556
2       Azerbaijan  0.916667
3          Belarus  1.194444
4          Denmark  2.055556
5          Finland  2.000000
6           France  0.055556
7          Germany  1.083333
8           Greece  0.972222
9          Hungary  3.972222
10         Iceland  1.611111
11           Italy  0.916667
12           Malta  0.888889
13      Montenegro  1.027778
14     Netherlands  6.611111
15          Norway  2.444444
16          Poland  1.722222
17         Romania  2.000000
18          Russia  2.472222
19      San Marino  0.388889
20        Slovenia  0.250000
21           Spain  2.055556
22          Sweden  6.055556
23     Switzerland  1.777778
24         Ukraine  3.138889
25  United Kingdom  1.111111

In [15]:
final2014 = ESC2014.merge(df2, on = 'To country', suffixes=('_orig', '_group'))
final2014['Diff'] = final2014['Points_orig'] - final2014['Points_group']
final2014[final2014['From country'] == 'Russia']

    From country      To country  Points_orig  Points_group       Diff
28        Russia         Ukraine            7      3.138889   3.861111
63        Russia         Belarus           12      1.194444  10.805556
99        Russia      Azerbaijan           10      0.916667   9.083333
135       Russia         Iceland            1      1.611111  -0.611111
171       Russia          Norway            0      2.444444  -2.444444
207       Russia         Romania            0      2.000000  -2.000000
243       Russia         Armenia            8      4.833333   3.166667
279       Russia      Montenegro            0      1.027778  -1.027778
315       Russia          Poland            0      1.722222  -1.722222
351       Russia          Greece            4      0.972222   3.027778
387       Russia         Austria            5      8.055556  -3.055556
423       Russia         Germany            0      1.083333  -1.083333
460       Russia          Sweden            2      6.055556  -4.055556
495       Russia          France            0      0.055556  -0.055556
567       Russia           Italy            0      0.916667  -0.916667
604       Russia        Slovenia            0      0.250000  -0.250000
639       Russia         Finland            0      2.000000  -2.000000
676       Russia           Spain            0      2.055556  -2.055556
712       Russia     Switzerland            0      1.777778  -1.777778
747       Russia         Hungary            6      3.972222   2.027778
783       Russia           Malta            0      0.888889  -0.888889
819       Russia         Denmark            0      2.055556  -2.055556
856       Russia     Netherlands            3      6.611111  -3.611111
892       Russia      San Marino            0      0.388889  -0.388889
928       Russia  United Kingdom            0      1.111111  -1.111111

In [16]:

url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2015-grand_final-full_results.csv'
ESC2015 = pd.read_csv(url, skiprows=1)
ESC2015 = ESC2015.replace(r'\n',0, regex=True)
ESC2015 = ESC2015[['From country', 'To country', 'Points']]
ESC2015['Points'] = ESC2015['Points'].astype(int)
df=ESC2015.groupby(['To country'])['Points'].mean().reset_index()
final2015 = ESC2015.merge(df, on = 'To country', suffixes=('_orig', '_group'))
final2015['Diff'] = final2015['Points_orig'] - final2015['Points_group']
final2015[final2015['From country'] == 'Russia']

     From country      To country  Points_orig  Points_group      Diff
31         Russia        Slovenia            0      1.000000 -1.000000
69         Russia          France            0      0.102564 -0.102564
108        Russia          Israel            0      2.487179 -2.487179
147        Russia         Estonia            7      2.717949  4.282051
187        Russia  United Kingdom            0      0.128205 -0.128205
225        Russia         Armenia            6      0.871795  5.128205
264        Russia       Lithuania            0      0.769231 -0.769231
304        Russia          Serbia            0      1.358974 -1.358974
342        Russia          Norway            0      2.615385 -2.615385
382        Russia          Sweden            8      9.358974 -1.358974
420        Russia          Cyprus            0      0.282051 -0.282051
459        Russia       Australia            4      5.025641 -1.025641
498        Russia         Belgium           10      5.564103  4.435897
537        Russia         Austria            0      0.000000  0.000000
576        Russia          Greece            0      0.589744 -0.589744
615        Russia      Montenegro            0      1.128205 -1.128205
654        Russia         Germany            0      0.000000  0.000000
693        Russia          Poland            0      0.256410 -0.256410
732        Russia          Latvia            2      4.769231 -2.769231
771        Russia         Romania            0      0.897436 -0.897436
811        Russia           Spain            1      0.384615  0.615385
849        Russia         Hungary            0      0.487179 -0.487179
888        Russia         Georgia            5      1.307692  3.692308
927        Russia      Azerbaijan            3      1.256410  1.743590
1005       Russia           Italy           12      7.487179  4.512821
1044       Russia         Albania            0      0.871795 -0.871795

In [17]:
url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2016-grand_final-full_results.csv'
ESC2016 = pd.read_csv(url, skiprows=1)
ESC2016 = ESC2016.replace(r'\n',0, regex=True)
ESC2016 = ESC2016[['From country', 'To country', 'Points']]
ESC2016['Points'] = ESC2016['Points'].astype(int)
df=ESC2016.groupby(['To country'])['Points'].mean().reset_index()
final2016 = ESC2016.merge(df, on = 'To country', suffixes=('_orig', '_group'))
final2016['Diff'] = final2016['Points_orig'] - final2016['Points_group']
final2016[final2016['From country'] == 'Russia']

     From country      To country  Points_orig  Points_group      Diff
31         Russia         Belgium            0      1.243902 -1.243902
72         Russia  Czech Republic            0      0.000000  0.000000
114        Russia     Netherlands            0      0.951220 -0.951220
154        Russia      Azerbaijan            6      1.780488  4.219512
195        Russia         Hungary            0      1.365854 -1.365854
236        Russia           Italy            0      0.829268 -0.829268
277        Russia          Israel            0      0.268293 -0.268293
318        Russia        Bulgaria            0      4.390244 -4.390244
360        Russia          Sweden            2      3.390244 -1.390244
400        Russia         Germany            0      0.243902 -0.243902
441        Russia          France            3      2.658537  0.341463
482        Russia          Poland            5      5.414634 -0.414634
523        Russia       Australia            4      4.658537 -0.658537
564        Russia          Cyprus            7      1.292683  5.707317
606        Russia          Serbia            0      1.951220 -1.951220
646        Russia       Lithuania            0      2.341463 -2.341463
687        Russia         Croatia            0      0.804878 -0.804878
770        Russia           Spain            0      0.243902 -0.243902
810        Russia          Latvia            1      1.536585 -0.536585
852        Russia         Ukraine           10      7.878049  2.121951
892        Russia           Malta            0      0.390244 -0.390244
933        Russia         Georgia            0      0.585366 -0.585366
974        Russia         Austria            8      2.926829  5.073171
1016       Russia  United Kingdom            0      0.195122 -0.195122
1056       Russia         Armenia           12      3.268293  8.731707

In [18]:
url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2017-grand_final-full_results.csv'
ESC2017 = pd.read_csv(url, skiprows=1)
ESC2017 = ESC2017.replace(r'\n',0, regex=True)
ESC2017 = ESC2017[['From country', 'To country', 'Points']]
ESC2017['Points'] = ESC2017['Points'].astype(int)
df=ESC2017.groupby(['To country'])['Points'].mean().reset_index()
final2017 = ESC2017.merge(df, on = 'To country', suffixes=('_orig', '_group'))
final2017['Diff'] = final2017['Points_orig'] - final2017['Points_group']
final2017[final2017['From country'] == 'Russia']

Empty DataFrame
Columns: [From country, To country, Points_orig, Points_group, Diff]
Index: []

In [19]:
url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2018-grand_final-full_results.csv'
ESC2018 = pd.read_csv(url, skiprows=1)
ESC2018 = ESC2018.replace(r'\n',0, regex=True)
ESC2018 = ESC2018[['From country', 'To country', 'Points']]
ESC2018['Points'] = ESC2018['Points'].astype(int)
df=ESC2018.groupby(['To country'])['Points'].mean().reset_index()
final2018 = ESC2018.merge(df, on = 'To country', suffixes=('_orig', '_group'))
final2018['Diff'] = final2018['Points_orig'] - final2018['Points_group']
final2018[final2018['From country'] == 'Russia']

     From country      To country  Points_orig  Points_group      Diff
32         Russia       Australia            0      0.214286 -0.214286
74         Russia         Austria            0      1.476190 -1.476190
116        Russia        Bulgaria            0      1.571429 -1.571429
158        Russia          Cyprus            4      4.952381 -0.952381
200        Russia  Czech Republic            2      4.261905 -2.261905
242        Russia         Denmark            7      3.619048  3.380952
284        Russia         Estonia            3      2.214286  0.785714
326        Russia         Finland            0      0.333333 -0.333333
368        Russia          France            0      1.404762 -1.404762
410        Russia         Germany            0      3.238095 -3.238095
452        Russia         Hungary            0      1.333333 -1.333333
494        Russia         Ireland            0      1.261905 -1.261905
536        Russia          Israel            1      5.190476 -4.190476
578        Russia           Italy            6      4.857143  1.142857
620        Russia       Lithuania            0      2.166667 -2.166667
662        Russia         Moldova           12      2.309524  9.690476
704        Russia          Norway            5      1.785714  3.214286
746        Russia        Portugal            0      0.214286 -0.214286
789        Russia          Serbia            0      1.571429 -1.571429
831        Russia        Slovenia            0      0.547619 -0.547619
873        Russia           Spain            0      0.428571 -0.428571
915        Russia          Sweden            1      0.500000  0.500000
957        Russia     Netherlands            0      0.744186 -0.744186
1000       Russia         Ukraine            8      2.619048  5.380952
1042       Russia  United Kingdom            0      0.380952 -0.380952
1083       Russia         Albania            0      0.952381 -0.952381

In [20]:

url = 'https://raw.githubusercontent.com/jackmheller/modernDataAnalytics/main/Data/ESC-2019-grand_final-full_results.csv'
ESC2019 = pd.read_csv(url, skiprows=1)
ESC2019 = ESC2019.replace(r'\n',0, regex=True)
ESC2019 = ESC2019[['From country', 'To country', 'Points']]
ESC2019['Points'] = ESC2019['Points'].astype(int)
df=ESC2019.groupby(['To country'])['Points'].mean().reset_index()
final2019 = ESC2019.merge(df, on = 'To country', suffixes=('_orig', '_group'))
final2019['Diff'] = final2019['Points_orig'] - final2019['Points_group']
final2019[final2019['From country'] == 'Russia']

     From country      To country  Points_orig  Points_group   Diff
5          Russia           Italy            0         5.150 -5.150
45         Russia           Spain            0         1.300 -1.300
85         Russia          Israel            0         0.850 -0.850
125        Russia  United Kingdom            0         0.075 -0.075
165        Russia       Australia            4         2.525  1.475
246        Russia     Switzerland            2         4.575 -2.575
286        Russia          Norway            1         5.650 -4.650
326        Russia          Sweden            0         2.075 -2.075
366        Russia      Azerbaijan           12         2.125  9.875
406        Russia       Macedonia            0         1.425 -1.425
446        Russia         Iceland            7         4.125  2.875
485        Russia  Czech Republic            0         0.150 -0.150
526        Russia         Denmark            0         1.200 -1.200
566        Russia        Slovenia            6         1.000  5.000
606        Russia          France            0         0.650 -0.650
646        Russia          Cyprus            0         0.775 -0.775
686        Russia          Serbia            3         0.900  2.100
725        Russia         Albania            0         0.925 -0.925
766        Russia         Estonia            0         0.675 -0.675
806        Russia      San Marino            0         0.900 -0.900
846        Russia          Greece            0         0.375 -0.375
885        Russia         Germany            0         0.000  0.000
926        Russia         Belarus            8         0.325  7.675
966        Russia     Netherlands            5         5.875 -0.875
1005       Russia           Malta            0         0.500 -0.500

In [21]:
finalBias = final2014.merge(final2015,on=['From country', 'To country'], how = 'outer').merge(final2016, on=['From country', 'To country'], how = 'outer')
finalBias = finalBias.merge(final2018, on=['From country', 'To country'], how = 'outer').merge(final2018, on=['From country', 'To country'], how = 'outer')
finalBias = finalBias.merge(final2019, on=['From country', 'To country'], how = 'outer')

C:\Users\Viki\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Diff_x', 'Points_orig_x', 'Points_group_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

In [22]:
diffCols = [4,7,10,13,16,19]
finalBias['True_Bias'] = finalBias.iloc[:,diffCols].mean(axis=1)

In [23]:
trueBias = finalBias[['From country', 'To country', 'True_Bias']].sort_values('True_Bias', ascending = False)
trueBias

            From country  To country  True_Bias
1366           Macedonia     Albania  11.074611
1245              Serbia  Montenegro  10.871795
1796            Slovenia   Macedonia  10.575000
1808              Serbia   Macedonia  10.575000
202              Moldova     Romania  10.551282
...                  ...         ...        ...
529               Norway      Russia  -3.999388
15               Iceland     Ukraine  -4.063758
1828              Cyprus     Iceland  -4.125000
1679      The Netherands      Israel  -4.190476
1510  Bosnia Herzegovina      Poland  -5.414634

[1843 rows x 3 columns]

In [24]:
trueBias.to_csv('yearBias.csv')

In [25]:
trueBias[trueBias['To country'] == 'Italy']

            From country To country  True_Bias
561                Malta      Italy   7.150433
541              Albania      Italy   6.650433
573          Switzerland      Italy   3.150433
571                Spain      Italy   2.817100
1353              Cyprus      Italy   2.163853
563           Montenegro      Italy   2.150433
1680      The Netherands      Italy   2.142857
567              Romania      Italy   1.746374
569           San Marino      Italy   1.650433
553              Germany      Italy   1.650433
558               Israel      Italy   0.983767
554               Greece      Italy   0.817100
546              Belgium      Italy   0.650433
562              Moldova      Italy   0.650433
1355              Serbia      Italy   0.563853
1454            Bulgaria      Italy   0.485482
549            Macedonia      Italy   0.150433
565               Poland      Italy  -0.016233
544           Azerbaijan      Italy  -0.016233
568               Russia      Italy  -0.016233
559               Latvia      Italy  -0.182900
575              Ukraine      Italy  -0.365055
1455             Croatia      Italy  -0.423389
566             Portugal      Italy  -0.453626
1453  Bosnia Herzegovina      Italy  -0.829268
542              Armenia      Italy  -0.849567
570             Slovenia      Italy  -0.849567
555              Hungary      Italy  -1.016233
552              Georgia      Italy  -1.016233
550              Finland      Italy  -1.182900
548              Estonia      Italy  -1.182900
560            Lithuania      Italy  -1.349567
574          Netherlands      Italy  -1.595779
543              Austria      Italy  -1.849567
556              Iceland      Italy  -2.016233
572               Sweden      Italy  -2.016233
564               Norway      Italy  -2.016233
545              Belarus      Italy  -2.016233
1352           Australia      Italy  -2.036147
1354      Czech Republic      Italy  -2.036147
557              Ireland      Italy  -2.349567
551               France      Italy  -2.349567
547              Denmark      Italy  -2.682900
576       United Kingdom      Italy  -2.682900

In [26]:
diffCols = [4,7,10,13,16,19]
countDf = finalBias.iloc[:,diffCols]
countDf.columns = range(countDf.columns.size)
countDf[countDf < 0] = -1
countDf[countDf > 0] = 1
countDf[countDf == 0] = None
countDf['Sum'] = countDf.sum(axis=1)
countDf['Count'] = countDf.count(axis=1) - 1
countDf['Bias'] = countDf['Sum'] / countDf['Count']
countDf['From country'] = trueBias['From country']
countDf['To country'] = trueBias['To country']
countDf.sort_values('Bias')

C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf[countDf < 0] = -1
C:\Users\Viki\anaconda3\lib\site-packages\pandas\core\frame.py:3718: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf[countDf > 0] = 1
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf[countDf == 0] = None
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf['Sum'] = countDf.sum(axis=1)
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf['Count'] = countDf.count(axis=1) - 1
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf['Bias'] = countDf['Sum'] / countDf['Count']
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf['From country'] = trueBias['From country']
C:\Users\Viki\AppData\Local\Temp/ipykernel_11524/3613947451.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countDf['To country'] = trueBias['To country']

,0,1,2,3,4,5,Sum,Count,Bias,From country,To country
0,-1.0,NaN,-1.0,-1.0,-1.0,NaN,-4.0,4,-1.0,Albania,Ukraine
1143,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,-5.0,5,-1.0,Norway,Cyprus
1140,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,-5.0,5,-1.0,Malta,Cyprus
1138,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,-5.0,5,-1.0,Latvia,Cyprus
1136,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,-5.0,5,-1.0,Israel,Cyprus
...,...,...,...,...,...,...,...,...,...,...,...
868,1.0,NaN,NaN,NaN,NaN,1.0,2.0,2,1.0,Azerbaijan,San Marino
861,1.0,NaN,1.0,1.0,1.0,1.0,5.0,5,1.0,Sweden,Netherlands
659,1.0,1.0,1.0,1.0,1.0,1.0,6.0,6,1.0,France,Spain
646,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,Netherlands,Finland
1406,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,Bosnia Herzegovina,Czech Republic

In [100]:
countDf.to_csv('countBias.csv')